tmp/**/*
config/*.yml
db/*.sqlite3
public/product_attachments/
public/notes_attachments/
public/news_attachments/
public/notes_attachments/
public/tiny_mce_photos/
public/notes_attachments/
doc/*
*.php
db/sphinx
config/*.sphinx.conf
log/
.DS_Store
*.xls
tmp/
vendor/plugins/rails_indexes/
db/seeds.rb
db/backup
config/newrelic.yml
config/newrelic.yml.backup
import/
config/routes.rb.old
mkmf.log
deploy_log.txt
